body {
    font: 1em sans-serif;
    width: 100%;
    padding: 0;
    margin : 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  /*FORMULARI */
  #registre{
      
      width: 70%;
      border: 1px black solid;
      display: block;
}
#formtaula{
    width: 80%;
}
td{
    width: 50%;
}

tbody#formtaula{
    width: 100%;
}
input{
    width: 250px;
    border-radius: 5px;
    
}

  .incorrecte{
      border: 3px solid;
    border-color: rgb(182, 61, 61);
    color: rgb(182, 0, 0);
}