.container_principal{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly,space-around,stretch,baseline;
    align-self:center,baseline,space-evenly;
    flex-direction: row;
    height: 8%;
    gap:10px;
}
.menu_superior{
    background-color: rgb(60, 60, 71);
    align-items: center;
    justify-content: flex-start;
}
.item{
    width: 10%;
    height: 50px;
    padding-top: 1em;
}
.reserva{
    background-color: rgb(60, 60, 71);
    padding-top:2rem ;
    left:20%;
    width: 60%;
    height: 15%;
    position:absolute;
    display: inline;
    bottom: 50%;
    color: whitesmoke;
    border-radius: 10px;
    flex-shrink:1;
}
.avantatges{
    width: 100%;
    height: 300px;
    background-color: rgb(60, 60, 71);
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    padding-top: 50px;
}
.avantatges_logos{
    
    display: flex;
    flex-direction: column row;
    padding-top: 50px;
    justify-content: center;
    align-self:center,baseline,space-evenly;
    justify-content: space-between;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    background-image: url("logos\logo-hotel.png");
    background-size: cover;
    background-repeat:no-repeat;
    float: left;
}
.footer{
    background-color: rgb(47, 47, 51);
    width: 100%;
    height: 200px;
    bottom: 0px;
    position: absolute;
}
.footer_ul{
    display: flex;
    justify-content: center;
    align-self:center,baseline,space-evenly;
    gap: 50px;
    padding-top: 1%;
}
.footer_seccions{
    color: whitesmoke;
}
.logos_footer{
    display: flex;
    justify-content: center;
    align-self:center,baseline,space-evenly;
    gap: 50px;
    padding-top: 3%;
}
body::-webkit-scrollbar { 
    display: none;
  }
.habitacions{
    width: 100%;
    background-color: rgb(34, 34, 37);
    height: 100px;
    color: whitesmoke;
    text-align: center;
    padding-top: 20px;
}
.container_tipus_habitacions{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color:rgb(76, 76, 78);
}
.tipus_habitacions{
    margin-top: 4%;
    width: 80%;
    height: 350px;
    background-color: rgb(143, 143, 146);
    padding-left: 50px;
    padding-top: 10px;
    
}
.tipus_habitacions h3{
    text-align: center;
}
.imatges_habitacions{
    width: 350px;
    height: 233px;
    background-image: url("img/habitacio_doble.jpg") ;
    background-size: cover;
    padding-right: 10px;
}
.container_imatges_habitacions{
    display: flex;
    flex-direction: column row;
    gap: 15px;
    
}
.text{
    font-size: 1.2em;
    width: 50%;
    height: 400px;
    text-align: justify;
    justify-content: flex-end;
}
.especificacions{
    width: 100%;
    height: 2em;
    display: flex;
    background-color: rgb(235, 203, 23);
    position: relative;
    border-radius: 10px 10px;
    align-items: center; 
    gap:10px; 
}

.especificacions img{
    width: 30px;
    height: 30px;
}
.especificacions  p{
    font-weight: bold;    
    padding-top: 10px;
}
.preu{
    background-color: rgb(4, 116, 19);
    width: 100px;
    height: 100px;
    float: right;
    text-align: center;
    border-radius: 10px 10px;  
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}
.boto{
    float: left;
    width: 120px;
    height: 50px;
    text-align: center;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 3%;
    background-color: rgb(117, 17, 4);
    border-radius: 10px;
}
.boto:hover{
    width: 140px;
    height: 60px;
}
.grid-gallery {
    display: grid;
    grid-auto-rows: 200px;
    grid-gap: 1rem;
    grid-auto-flow: row dense;
    width: 100%;
    height: auto;
  }
  @media all and (min-width: 320px) {
    .grid-gallery {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media all and (min-width: 768px) {
    .grid-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media all and (min-width: 1024px) {
    .grid-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .grid-gallery__item:nth-child(11n+1) {
    grid-column: span 1;
  }
  
  .grid-gallery__item:nth-child(11n+4) {
    grid-column: span 2;
    grid-row: span 1;
  }
  
  .grid-gallery__item:nth-child(11n+6) {
    grid-column: span 3;
    grid-row: span 1;
  }
  
  .grid-gallery__item:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2;
  }
  
  .grid-gallery__item:nth-child(11n+8) {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .grid-gallery__item:nth-child(11n+9) {
    grid-row: span 3;
  }
  
  .grid-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container-serveis{
    display: grid;
    grid-auto-flow: row dense;
    width: 100%;
    height: auto;
  }
  .container-formulari{
      display: grid;
      width: 100%;

  }
.formulari{
    display: grid;
    height: auto;
    

}
body{
    height: 100vh;
}



