body{
  position: absolute;
width: 100%;
  min-height: 100vh;
  background-color: rgb(27, 27, 27);
  z-index: -10;
  overflow-y: overlay;
  margin: 0px;
  /*width: 100vh;*/
  font-family: "Poppins",Arial,sans-serif;
}
.llum{
  background-color: rgb(200, 200, 200);
  color: black;
}
#registrebody{
  background-image: url(img/login.jpg);
  background-size: cover;
  background-origin: content-box;
  max-height: 100vh;
}


/*SCROLL*/
/*body::-webkit-scrollbar { 
    display: none;
  }*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dbdbdb; 
}

.cercle{
  width: 100%;

  clip-path: circle( 40% at left 50%);
  position: absolute;
  left: 0px;
  z-index: -1;
}

/*CALENDARI*/
.ccmes{
  width: 100%;
  display: flex;
  justify-content: center;
}
.cmes{
  width: 200px;
  margin-top: 30px;

}
.mes{
  margin-left: auto;
  margin-right: auto;
}
.mes td{
border: 1px solid rgb(168, 168, 168);
}



/*SLIDER*/
#hotel{
  font-size: 250%;
  line-height: 0;
  margin-left: -15%;
  margin-right: 15%;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* RECERCA.PHP */
.boto_reserva{
  float: right;
  min-width: 120px;
  height: 50px;
  text-align: center;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10%;
  margin-top: 3%;
  background-color: rgba(73, 73, 73, 0.027);
  border-radius: 10px;
  border: 1px solid black;
  transition: 0.5s;
}
.boto_reserva:hover{
background-color: rgba(207, 207, 207, 0.164);
padding-left: 10px;
transition: 0.5s;
}

.preu_recerca{
  background-color: rgb(165, 165, 165);
  min-width: 100px;
  height: 50px;
  bottom: 10px;
  float: left;
  text-align: center;
  border-radius: 10px 10px;  
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
}
.especificacions_recerca img{
  width: 30px;
  height: 30px;
}
.especificacions_recerca  p{
  font-weight: bold;    
  padding-top: 10px;
}
.especificacions_recerca{
  width: 100%;
  height: 2em;
  display: flex;
  background-color: rgb(165, 165, 165);
  position: relative;
  border-radius: 10px 10px;
  align-items: center; 
  justify-content: center;
  gap:10px;
}

.imatges_recerca{
  width: 30%;
  height: 100%;
}

.container_imatges_recerca{
  display: block;
  transform: translateZ(50px);
  
}
.recerca_habitacions{
  z-index: 0;
  margin-top: 4%;
  width: 90%;
  min-width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.603);  
  backdrop-filter: blur(5px);
  padding-left: 50px;
  padding-top: 10px;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgb(0,0,0,0.5);
  border: 1px solid rgb(209, 209, 209);
  border-bottom: 0;
  border-right: 0;
  transform: perspective(1000px);
  scale: 0.7;
}
.recerca_habitacions h1{
  text-align: center;
}
.recerca{
  background-color:rgb(76, 76, 78);
  background-image: url(img/fons.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.container_reserva_habitacions{
  display: flex;
  justify-content: center;
  width: 100%;
  
  background-color:transparent;
}
.habitacions{
  background: transparent;
    width: 100%;
  height: 80px;
  color: whitesmoke;
  text-align: center;
  padding-top: 50px;
}





/*SERVEIS / AVANTATGES*/
.serveis{
  width: 100%;
  height: 200px;
}
.doble{
  width: 60%;
}
.fonsimg{
  background-color: hsl(175deg 82% 17%);
  padding: 20px;
  width: 340px;
}
.fonsimg img{
  width: 300px;
}
.avantatges{
  width: 100%;
  background-color: rgb(60, 60, 71);
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  padding-top: 50px;
  float: right;
}
.avantatges_logos{
  
  display: flex;
  flex-direction: column row;
  padding-top: 50px;
  justify-content: center;
  align-self:center,baseline,space-evenly;
  justify-content: space-between;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

/*SOBRENOSALTRES INICI*/
hr{
  background-color: white;
  width: 50%;
  margin: auto;
  box-shadow: 3px 2px 30px 10px rgb(255, 255, 255,  50%);
  
}
.nosaltres{
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  
}
.sobrenos{
  width: 50%;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid white;
  backdrop-filter: blur(5px);
  box-shadow: inset 5px 5px 15px rgba(255, 255, 255, 0.5),
  inset -5px -5px 15px rgba(252, 252, 252, 0.5),
   5px 5px 15px rgba(255, 255, 255, 0.5),
   -5px -5px 15px rgba(255, 255, 255, 0.5);
}
.serveis{
  width: 100%;

  text-align: center;
  color: white;
  padding-top: 50px;
  height: auto;
  margin-bottom: 50px;
  
}
.containerservei{
  width: 100%;
  display: -webkit-inline-box;
  padding-top: 10px;
  
}
.servei{

  width: 25%;
  height: 400px;
  margin: auto;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(20px);
  border: 0px solid rgba(255, 255, 255, 0.425);
  box-shadow: #f2f2f29d;
  border-radius: 20px;
  overflow: hidden;

}
.piscina{
  width: 100%;
  height: 100%;
  padding: 5px;
  display: none;
}
  .piscina:hover{
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
 
}


/*SUBMENU PG PRINCIPAL*/
.sticky {
  /*position: -webkit-sticky;
  position: sticky;*/
  top: -1px;
  background-color: rgb(77, 77, 77);
  height: 50px;
  z-index: 10;
}
.container-submenu{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submenu{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.submenul{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.submenu:hover{
background-color: #686868;
color: white;
text-decoration: none;
}
.conainer100{
  width: 100%;
}
#provasticki{
  /*height: 1000px;
  background-image: url(img/sobrenos.jpg);
  background-attachment: fixed;
  background-size: cover;*/
  width: 100%;
}

/*MENU*/
.slider{
  vertical-align: bottom;
  margin-top: -20%;
}
#carouselExampleSlidesOnly{
  margin-top: -50px;
z-index: -1;

  max-height: 100vh;
}
.iniciinici{
  padding: 0px !important;
  height: 40px;
  width: 40px;
  margin: 5px;
  margin-right: 25px;
  float: right !important;  
 
}
.logoinici{
  background-image: url(logos/admin_icon/login.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  height: 40px;
  width: 40px;
  margin: 5px;
  margin-right: 25px;
  float: right !important;  
 
}
.logo{
  background-image: url("logos/logo-hotel.png");
  background-size: contain;
  background-repeat:no-repeat;
}
.navbar{
  display: flex;
  justify-content: center;
  color: white;
  z-index: 2;
}
a{
  color: white;
  text-decoration: none;
}

.topnav {
  margin-bottom: -50px;
  overflow: hidden;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 100%);
  /*height: 50px !important;*/
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*.topnav a:hover {
  background-color: #686868;
}*/

.topnav a.active {
  background-color: #464646;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: absolute;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    position: relative;
  }
}

.icon{
  background-image: url(logos/admin_icon/list.png);
  background-size: contain;
  height: 40px;
  width: 40px;
  margin: 5px;
}



/*ALTRES*/
.container_principal{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly,space-around,stretch,baseline;
    align-self:center,baseline,space-evenly;
    flex-direction: row;
    height: 8%;
    gap:10px;
}
.menu_superior{
    background-color: rgb(60, 60, 71);
    align-items: center;
    justify-content: flex-start;
}
.item{
    width: 10%;
    height: 50px;
    padding-top: 1em;
}
.reserva{
    background-color: rgba(255, 255, 255, 0.733);
    left:10%;
    width: 80%;
    height: 20%;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 0px;
    flex-shrink:1;
    bottom: 300px;
}

.container_tipus_habitacions{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color:rgb(94, 94, 94);
}
.tipus_habitacions{
    margin-top: 30px;
    width: 80%;
    height: 350px;
    background-color: rgb(143, 143, 146);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
    
}
.tipus_habitacions h3{
    text-align: center;
}
.imatges_habitacions{
    width: 350px;
    height: 233px;
    
    background-size: cover;
    padding-right: 10px;
}
.container_imatges_habitacions{
  height: 85%;
    display: flex;
    flex-direction: column row;
    gap: 15px;
    
}
.text{
  float: right;
    font-size: 1.2em;
    width: 65%;
    margin: auto 2% auto 2%;
    height: 100%;
    text-align: justify;
    justify-content: flex-end;
}
.especificacions{
    width: 100%;
    height: 2em;
    display: flex;
    background-color: rgb(235, 203, 23);
    position: relative;
    border-radius: 10px 10px;
    align-items: center; 
    justify-content: center;
    gap:10px; 
    bottom: 0px;
    margin-bottom: 5px;
}

.especificacions img{
    width: 30px;
    height: 30px;
}
.especificacions  p{
    font-weight: bold;    
    padding-top: 10px;
}
.preu{
    background-color: rgb(4, 116, 19);
    width: 100px;
    height: auto;
    float: right;
    text-align: center;
    border-radius: 5px;  
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px;
}
.boto{
    float: right;
    width: 120px;
    height: auto;
    text-align: center;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgb(117, 17, 4);
    border-radius: 5px;
    margin: 5px;
}
.esp_habitacions{
bottom: 0px;
}
#separador-habitacions{
  margin-top: 20px;
  width: 100%;
  height: 100px;
  margin-bottom: -100px;
  background-color: rgba(94, 94, 94,0.3);
  clip-path: ellipse(50% 90% at 50% 100%);
}
#separador-habitacions1{
  width: 100%;
  height: 100px;
  margin-bottom: -100px;
  background-color: rgb(94, 94, 94,0.6);
  clip-path: ellipse(50% 60% at 50% 100%);
}
#separador-habitacions2{
  width: 100%;
  height: 100px;
  background-color: rgb(94, 94, 94);
  clip-path: ellipse(50% 30% at 50% 100%);
}



.grid-gallery {
    display: grid;
    grid-auto-rows: 200px;
    grid-gap: 1rem;
    grid-auto-flow: row dense;
    width: 100%;
    height: auto;
  }
  @media all and (min-width: 320px) {
    .grid-gallery {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media all and (min-width: 768px) {
    .grid-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media all and (min-width: 1024px) {
    .grid-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .grid-gallery__item:nth-child(11n+1) {
    grid-column: span 1;
  }
  
  .grid-gallery__item:nth-child(11n+4) {
    grid-column: span 2;
    grid-row: span 1;
  }
  
  .grid-gallery__item:nth-child(11n+6) {
    grid-column: span 3;
    grid-row: span 1;
  }
  
  .grid-gallery__item:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2;
  }
  
  .grid-gallery__item:nth-child(11n+8) {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .grid-gallery__item:nth-child(11n+9) {
    grid-row: span 3;
  }
  
  .grid-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container-serveis{
    display: grid;
    grid-auto-flow: row dense;
    width: 100%;
    height: auto;
  }
  .container-formulari{
      display: grid;
      width: 100%;

  }
.formulari{
    display: grid;
    height: auto;
    

}
.container-login{
  height: 96vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  }





/*LOGIN.HTML*/
.footer_login{
  width: 100%;
  position: absolute;
  height: 30px;
  background-color: rgb(94, 95, 97);

  bottom: 0px;

}
.logos_login{
  padding-right: 20px;
  gap: 10px;
  display: inline-block;
}

.logos_login{
  float: right;
  padding-right: 20px;
  gap: 10px;
}

.login{
  padding: 10px;
  border-radius: 2px;
  background-color: rgba(110, 110, 110, 0.9);

}
.but{
  margin-right: auto;
  margin-left: auto;

  border-radius: 10px;
}
.center{
  width: 100%;
  display: flex;
  justify-content: center;
}
#panell td{

  border: solid black 1px;
  
}
#panell{
  background-color: rgba(110, 110, 110, 0.9);
}
 
button:hover {
  background: palevioletred;
  transition: all 0.2s;
}



#popup{
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-contra{
  display: block !important;
}
/*
.popup-unwrapper {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/


.popup {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  
  background: white;
  margin: 10% auto;
  padding: 20px;
  position: relative;
}
#configuracions > div > div{
  width: 20%;
  height: 500px;
  margin-top: 10px;
}

.popup a {
  background: salmon;
  color: white;
  text-decoration: none;
  padding: 6px 10px;
  margin: 30px auto;
  display: block;
  width: 50%;
}

.popup a:hover {
  background: palevioletred;
  transition: all 0.2s;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  font-size: 1.5rem;
}
.popup-content{
  display: block;
  width: 100%;
  font-size: 1.5em;
}
.popup-content input{
  display: block;
  height: 20px;
  border-radius:10px
}
.popup-content form{
  display: block;

}
.cambicontrasenya{
  display: none;
  height: auto;
  background-color: transparent;
  z-index: 0;
  position: absolute;
  right: 0px;
  top:10px;
  margin-right: 10px;
  padding: 0px;
}
.visible_logout{
  color: black;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.61);
  border: 1px solid rgb(179, 179, 179);
  padding: 0px;

}
.boto_contrasenya{
  border-radius: 10px;

}
.user{color: black !important;}
.user:hover{
  color: black;
}
.log{
  width: 100%;
  padding: 10px 10px 10px 10px;
}
.log:hover{
  background-color: rgba(255, 255, 255, 0.61);
  color: black;
}
.registre{
  width: auto;
  background-color: #686868;
  padding: 20px;

}
.formregistre{
width: auto;

}
.estructuraregistre td{
  text-align: left;
  float: center;
  padding: 5px;
}
#registre label{
  width: 100%;
}
#registre input{
  width: 100%;
}
#env{
  float: right;
}
button:hover{
  background-color: rgb(250, 250, 250);
}


.servei{
  width: 280px;
	height: 360px;
	border-radius: 15px;
	padding: 0rem;
	background: white;
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(black, 0.5);
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.servei:hover{
  transform: translateY(20px);
  background: rgba(black, 0.6);

}
.servei:hover:before{opacity: 1;}
.servei:hover .infoservei{
  opacity: 1;
  transform: translateY(0px);
  background: rgba(black, 0.6);
}
.servei::before{
  content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 15px;
		background: rgba(black, 0.6);
		z-index: 2;
		transition: 0.5s;
		opacity: 0;
}
.servei img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.infoservei{
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
padding-top: 30%;
transform: translateZ(20px);
}
#calendariresponsive{
  display: none;
}

.imatges_habitacions{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*GALERIA*/
.grid-gallery {
  margin-top: 20px;
  display: grid;
  grid-auto-rows: 200px;
  grid-gap: 1rem;
  grid-auto-flow: row dense;
  padding: 30px;
}

@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

.grid-galleryitem:nth-child(11n+1) {
  grid-column: span 1;
}

.grid-galleryitem:nth-child(11n+4) {
  grid-column: span 2;
  grid-row: span 1;
}

.grid-galleryitem:nth-child(11n+6) {
  grid-column: span 3;
  grid-row: span 1;
}

.grid-galleryitem:nth-child(11n+7) {
  grid-column: span 1;
  grid-row: span 2;
}

.grid-galleryitem:nth-child(11n+8) {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-galleryitem:nth-child(11n+9) {
  grid-row: span 3;
}

.grid-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#galeria{
  margin-top: 100px;
  text-align: center;
  color: white;
}
.ligth{
  margin: 30px;
  height: 40px;
  width: 40px;
  background-color: #ffffffb4;
  border: 1px solid white;
}
.Popup-reserva{
  background-color: #a09d9d;
  height: 500px;
  z-index: 1;
}
.Popup-reserva h4{
  padding-top: 50px;
}



/*habitacions inici*/
.habitacionsinici{
  height: 200px;
  width: 100%;
  background-color: rgb(18, 18, 24);
}

/*FOOTER*/
footer{
  background-color: #121212;
  width: 100%;
  color: white;
}
footer div{
  width: 100%;
  min-height: 30px;
}
.footerprimer{
  padding-top: 30px;
 text-align: center;
 font-size: 3ch;
}
.footersegon{
  padding-top: 10px;
text-align: center;
padding: 20px 0 20px 0;
}
.footersegon a{
  padding: 0 15px 0 15px;
  font-weight: bolder;
  color: rgb(109, 109, 109);
  transition: 1s;
  }
.footersegon a:hover{
    padding: 0 20px 0 20px;
    font-weight: bolder;
    color: rgb(248, 248, 248);
    transition: 0.5s;
    }
.footertres{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}   

.ins {
      scale: 2;
      height: 30px;
      width: 30px;
      background-color: white;
      -webkit-mask: url(logos/footer/instagram.svg) no-repeat center;
      mask: url(logo.svg) no-repeat center;
    }
 .ins:hover{
      background: linear-gradient(0deg, rgba(255,0,181,1) 0%, rgba(0,5,255,1) 100%);
    }

.fc {
      width: 30px;
      height: 30px;
      background-color: white;
      -webkit-mask: url(logos/footer/facebook.svg) no-repeat center;
      mask: url(logo.svg) no-repeat center;
    }
.fc:hover{
      background: linear-gradient(0deg, rgba(255,0,181,1) 0%, rgba(0,5,255,1) 100%);
    }

.tw {
      width: 30px;
      height: 30px;
      background-color: white;
      -webkit-mask: url(logos/footer/twitter.svg) no-repeat center;
      mask: url(logo.svg) no-repeat center;
    }
.tw:hover{
      background: linear-gradient(0deg, rgba(255,0,181,1) 0%, rgba(0,5,255,1) 100%);
    }
.wp {
      width: 30px;
      height: 30px;
      background-color: white;
      -webkit-mask: url(logos/footer/whatsapp.svg) no-repeat center;
      mask: url(logo.svg) no-repeat center;
    }
.wp:hover{
      background: linear-gradient(0deg, rgba(255,0,181,1) 0%, rgba(0,5,255,1) 100%);
    }

.footerlast{
  color: rgb(102, 102, 102);
  text-align: center;
  padding: 25px 0px 25px 0px;
}

/*CONTACTE*/
.container-contacte{
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 100px 0px ;
  
}
.contacte{
  width: 70%;
  height: 450px;
  background-color: #464646;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.5);
}
.taulacontacte{
  width: 100%;
  height: 100%;
  color: white;
}
#contacte_esquerra{
  height: 100%;
  width: 40%;
  background-position: center;
  background-size: cover;
  background-image: url(img/sobrenos.jpg);
}
#contacte_dreta{
  padding: 10px;
  text-align: center;
  display: block;
}
.inputscontacte label{
  width: 100%;
  text-align: left;
}
.inputscontacte label input{
  width:100%;display:block
}
#contacte_dreta h2{
  padding-bottom: 30px;
}
.mobile{display: none;}
