#configuracions{
background-color: rgb(98, 102, 99);
text-align: center;
width: 100%;
margin:0px;
}
#dadespersonals{
font-size: 15px;
}
.panelldades{
    padding-top: 50px;
}
input{
    background-color: rgb(238, 234, 184);
    border-radius: 5px;
}
.boto_modifica{
    background-color: tan;
    border-radius: 10px;
}
.boto_contrasenya{
    background-color: tan;
    border-radius: 30px;
    height: 40px;
    font-size: 15px;
}
.dades{
    width: 100%;
    margin-top: 40px;
}
input:hover{
    background-color: rgb(170, 172, 167);
}



