body{
    background-color: rgb(107, 107, 107) !important;
}
#configuracions{
background-color: rgb(98, 102, 99);
text-align: center;
width: 80%;
margin: 10px auto 50px auto;
border-radius: 30px;
padding: 20px;
border: 1px solid rgb(136, 136, 136);
box-shadow: 0px 0px 30px 0px white;
color: white;

}
#dadespersonals{
font-size: 15px;
}
.panelldades{
    padding-top: 50px;
}
input{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.boto_modifica{
    background-color: tan;
    border-radius: 10px;
}
.boto_contrasenya{
    background-color: tan;
    border-radius: 30px;
    height: 40px;
    font-size: 15px;
}
.dades{
    width: 100%;
    margin-top: 40px;
}
input:hover{
    background-color: rgb(170, 172, 167);
}



